
<!-- ##### Main Content Wrapper End ##### -->
{{!-- cart-table-area --}}
<div class="products-catagories-area clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-12 mt-3">
                 {{!-- <div class="container-fluid">
                    <h2>Order Details</h2>
                </div> --}}
                <div style="overflow-x: auto;">
                <font size="2" face="" >
                <table class="table" id="viewusers">
                    <thead>
                        <tr class="bg-warning">
                            {{!-- <th scope="col">No</th> --}}
                            <th scope="col">Description</th>
                            {{!-- <th scope="col">stock</th> --}}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {{!-- <th scope="row" class="fs-bold">{{@index}}</th> --}}
                            <td>{{products.description}}</td>
                            {{!-- <td>{{products.stock}}</td> --}}
                            
                        </tr>
                    </tbody>
                </table>
                </font>
                </div>
            </div>
        </div>
    </div>
</div>

