<div class="dropdown mt-3 ml-3">
    <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars fa-3x text-warning" aria-hidden="true"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/">Home</a>
        <a class="dropdown-item" href="/shop">Shop</a>
        <a class="dropdown-item" href="/cart">Cart</a>
        <a class="dropdown-item" href="/my-profile">Profile</a>
    </div>
</div>

{{!-- <div class="ml-auto"> --}}
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-center col-12 col-md-12">
                <img class=" img-fluid" src="/img/bg-img/empty-wishlist.png" alt="">
            </div>
            <div class="d-flex justify-content-center col-md-12">
                <a href="/shop" class="btn amado-btn text-center" style="">Go
                    To Shop</a>
            </div>
        </div>
    </div>
    {{!--
</div> --}}