<div class="cart-table-area" style="">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 mt-5">
                <div class="card border-0 ml-auto mr-auto" style="width: 20rem;">
                    <img class="card-img-top" src="/img/core-img/order-placed.png" alt="Card image cap">
                    <div class="card-body text-center" style="">
                        {{!-- <h5 class="card-title"></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p> --}}
                        <a href="/orders" class="btn btn-dark">View Orders</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>